<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="me-5">
            <img mat-card-md-image src="./assets/img/userPictures/user.png" alt="Photo of a Shiba Inu">
        </div>
        <div>
            <mat-card-title>
                <h2>Dr. {{ data.firstName }} {{ data.lastName }}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{ data.speciality }}</mat-card-subtitle>
            <mat-card-subtitle>RPPS: {{ data.rpps }}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>phone</mat-icon> {{ data.phone }}</p>
        <p><mat-icon>location_on</mat-icon> {{ data.location }}</p>
    </mat-card-content>
</mat-card>